body{
    width: 180px;
    height: 180px;
    background-color: black;
    display: flex;
    justify-content: center;
}

p{
    display: inline-flex;
    margin: auto 10px;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    border: 1px solid lemonchiffon
    padding 10px
}